<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('New Post')">
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Welcome to the Ipsum Blog!')"></header>
<main>
    <div class="container" id="inputForm">
        <p th:text="'Author: '+${user.firstName} +' '+ ${user.lastName}"></p>
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
            <input type="hidden" th:field="*{user}">
            <h4>Title:</h4>
            <input th:field="*{title}" class="w-100" name="title"/>
            <br />
            <h4>Post:</h4>
            <textarea class="w-100 mh-100" th:field="*{body}" name="body"></textarea>
            <br />
            <!--Checkboxes for tags-->
            <h4>Select Tags: </h4>
            <div th:each="tag : ${tagList}" >
                <input type="checkbox" id="tags" name="tags" th:value="${tag}">
                <label for="tags" th:text="' ' + ${tag.name} + ' '"></label>
            </div>
    <!--        <h4>Add an Image:</h4>-->
    <!--        <input th:field="*{image.path}" class="w-100" name="image">-->
            <input type="submit" class="w-100"/>
        </form>
    </div>
</main>
<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>