<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('New Post')">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Welcome to the Ipsum Blog!')"></header>


<div class="container text-center">
    <p th:text="'Author: '+${user.firstName} +' '+ ${user.lastName}"></p>
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <input type="hidden" th:field="*{user}">
        Title:
        <input th:field="*{title}" class="w-100"/>
        <br />
        Body:
        <input th:field="*{body}" class="w-100"/>
        <br />
        <input type="submit" class="w-100"/>
    </form>
</div>

<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>