<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Post')">
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<div class="container">
    <div class="card">
        <form th:action="@{'/post/' + ${postToEdit.id} +'/edit'}" th:method="post">
            <p th:text="${postToEdit.id}"></p>
            <input type="text" th:value="${postToEdit.title}" name="title">
            <input type="text" th:value="${postToEdit.body}" name="body">
            <input type="submit" value="Update Post">
        </form>
    </div>

</div>

<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>