<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('New Post')">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

<div class="container">
    <form th:action="@{/ads/create}" th:method="post">
        Title:
        <input name="title">
        Body:
        <input name="body">
        <input type="submit" value="submit post">
    </form>
</div>

<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>