<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('User Profile')">
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>

<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Welcome to the Ipsum Blog!')"></header>
<main class="container">
    <div sec:authorize="isAuthenticated()">
        <p>Profile Information</p>
        <p>User: <span th:text="${#authentication.principal.firstName}"></span> <span th:text="${#authentication.principal.lastName}"></span></p>
        <p>User ID: <span th:text="${#authentication.principal.id}"/></p>
        <p>Username: <span th:text="${#authentication.principal.username}"/></p>
        <p>Email: <span th:text="${#authentication.principal.email}"/></p>
    </div>
    <div class="container">
        <div th:each="post : ${postsList}">
            <div class="card">
                <h3 th:text="${post.title}" name="title"></h3>
                <p class="text-muted">Tags:
                    <span th:each="tag : ${post.tags}"> <span th:text="${tag.name} + ', '"></span> </span>
                </p>
                <p th:text="${post.body}" name="body"></p>

            </div>
        <button><a th:href="@{'/post/' + ${post.id} +'/edit'}">Edit Post</a></button>
        <form th:action="@{'/post/' + ${post.id} +'/delete'}" method="post">
            <input type="submit" value="Delete Post">
        </form>
        </div>
    </div>

</main>
<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>