<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('All Posts')">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Welcome to the Ipsum Blog!!')"></header>

<div class="container">
    <h2>The Latest Ipsum!</h2>
    <div class="card">
        <div class="card-body">
                <h5 class="card-title" th:text="${post.title}"></h5>
                <hr style="width: 15em;">
                <p th:text="${post.body}"></p>
        </div>
    </div>
</div>

<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>