<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head :: head('All Posts')">
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Welcome to the Ipsum Blog!!')"></header>
<main>
    <div class="container">
        <h4>The Latest Ipsum!</h4>
        <div class = "iris">
            <div class = "card transparent z-depth-5">

                <div class="card-body p-2">
                    <h5 class="card-title" th:text="${post.title}"></h5>
                    <hr>
                    <p th:text="${post.body}"></p>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>