<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('All Posts')">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<!--My Solution:-->
<!--<center>-->
<!--    <h3>Welcome!</h3>-->
<!--    <div class="container w-25">-->
<!--        <br>-->
<!--        <div th:if="${num == null}">-->
<!--            <div class="row">-->
<!--                <p class="col">1</p>-->
<!--                <p class="col">2</p>-->
<!--                <p class="col">3</p>-->
<!--                <p class="col">4</p>-->
<!--                <p class="col">5</p>-->
<!--                <p class="col">6</p>-->
<!--            </div>-->
<!--            <br>-->
<!--            Please enter a number:-->
<!--            <form action="/roll-dice" method="post">-->
<!--                <input type="text" name="num" id="cohort-ip" class="field" />-->
<!--                <button>Roll the Die</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</center>-->

<!--    <br>-->
<!--    <h5 class="text-center"><span th:text="${message1}"></span></h5>-->
<!--    <h3 class="text-center"><span th:text="${message2}"></span></h3>-->

<!--    <form th:if="${num != null}" action="/roll-dice" method="get" class="text-center">-->
<!--        <button>Try again</button>-->
<!--    </form>-->

<!--Their solution:-->


    <div class="container w-25">
        <h3>Welcome!</h3>
        Choose a number:
        <div class="row">
            <p class="col"><a th:href="@{/roll-dice/1}">1</a></p>
            <p class="col"><a th:href="@{/roll-dice/2}">2</a></p>
            <p class="col"><a th:href="@{/roll-dice/3}">3</a></p>
            <p class="col"><a th:href="@{/roll-dice/4}">4</a></p>
            <p class="col"><a th:href="@{/roll-dice/5}">5</a></p>
            <p class="col"><a th:href="@{/roll-dice/6}">6</a></p>
        </div>
    </div>
        <br>
    <div th:if${isCorrect}>
        <h5 class="text-center"><span th:text="${message1}"></span></h5>
        <h3 class="text-center"><span th:text="${message2}"></span></h3>
    </div>
<div th:include="partials/footer :: footer"></div>
<div th:include="partials/scripts :: scripts"></div>
</body>
</html>